{{ ansible_managed | comment }}
# localhost records
127.0.0.1 localhost.localdomain localhost
# IPv6 only records
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

{% if hosts_inventory_ipv4 %}
# Inventory IPv4 records
{% for host in groups['all'] %}
{% if hostvars[host].ansible_default_ipv4 is defined and hostvars[host].ansible_default_ipv4.address is defined %}
{{ hostvars[host].ansible_default_ipv4.address }} {{ host }} {% if hosts_split|default(true) %}{% for n in range(host.split('.')|length)|reverse -%}
{% set n = n + 1 %}
{% if not loop.first %}{{ host.split('.')[0:n]|join('.') }}{% if not loop.last %} {% endif %}{% endif %}
{%- endfor %}
{% endif %}
{% endif %}

{% endfor %}
{% endif %}
{% if hosts_inventory_ipv6 %}

# Inventory IPv6 records
{% for host in groups['all'] %}
{% if hostvars[host].ansible_default_ipv6 is defined and hostvars[host].ansible_default_ipv6.address is defined %}
{{ hostvars[host].ansible_default_ipv6.address }} {{ host }} {% if hosts_split|default(true) %}{% for n in range(host.split('.')|length)|reverse -%}
{% set n = n + 1 %}
{% if not loop.first %}{{ host.split('.')[0:n]|join('.') }}{% if not loop.last %} {% endif %}{% endif %}
{%- endfor %}
{% endif %}
{% endif %}

{% endfor %}
{% endif %}
{% if hosts_custom %}
{{ hosts_custom }}
{% endif %}
